---
layout: page
---
<!-- Main Content -->
<!-- css page.ejs -->
<div class="col-xs-12">
    <% page.posts.each(function(post, index){ %>
    <%- partial('_widget/post-preview', {post: post}) %>
    <% }); %>
    <div style="margin: 15px 0">
        <%- partial('_partial/pagination') %>
    </div>
</div>