---
layout: layout
---
<!-- Main Content -->
<div class="row">
    <!-- Post Container -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 post-container">
        <%- page.content || body %>
    </div>
    <%- partial('_partial/sidebar') %>
</div>