---
layout: layout
---
<!-- Main Content -->
<style>
</style>
<main class="col-xs-12">
    <!-- Post Container -->
    <% if (!is_post()) { %>
    <div class="hidden-xs" style="width: 250px">
    </div>
    <% } %>
    <%- body %>
</main>