---
layout: layout
---
<!-- Main Content -->
<style>
    .post-preview {
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        height: max-content;
    }

    .post-preview .text-gray {
        color: #999999 !important;
    }

    .post-preview .post-info {
        flex: 1;
        padding-left: 20px;
    }

    .post-preview .post-img {
        width: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .post-preview .post-info-center {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .post-preview .post-info a {
        cursor: pointer;
        text-decoration: none;
    }

    .post-preview .post-info .title {
        color: #101010;
        font-size: 1.2em;
    }

    @media (min-width: 768px) {
        .post-preview .post-img {
            width: 120px;
        }

        .post-preview .post-info {
            padding-right: 30px;
        }
    }

    #sidebar {
        width: 300px;
        position: static;
        float: left;
    }

    .sidebar-wrapper {
        width: 320px;
        padding-right: 0; 
        padding-left: 10px;
        border-left: 1px solid #eaecef;
    }

    .sidebar-wrapper section {
        margin-bottom: 10px;
    }

    .sidebar-fixed {
        position: fixed;
        top: 10px;
        margin-top: 0;
        max-height: 81%;
        z-index: 1;
    }
</style>
<main class="col-xs-12">
    <!-- Post Container -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <%- body %>
    </div>
    <aside id="sidebar" class="hidden-xs hidden-sm">
        <div class="sidebar-wrapper col-xs-12">
            <section><%- partial('_widget/summary') %></section>
            <% if (is_post()){ %>
            <section><%- partial('_partial/toc') %></section>
            <% } else { %>
            <section><%- partial('_widget/featured-tags') %></section>
            <% } %>
        </div>
    </aside>
</main>
<script>
    window.addEventListener('load', function () {
        var lastPos = 0;
        var wrapper = document.querySelector('#sidebar .sidebar-wrapper');

        window.addEventListener("scroll", function (e) {
            var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            var isDown = scrollTop > lastPos;
            scrollTop > 220 && wrapper.classList.add("sidebar-fixed");
            scrollTop <= 220 && wrapper.classList.remove("sidebar-fixed");
            lastPos = scrollTop;
        })
    });

</script>