body {
  font-family: "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
  tab-size: 4;
}
a {
  text-decoration: none;
  color: #333;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

.no-text-decoration {
  text-decoration: none !important;
}

.padding-0 {
    padding: 0 !important;
}
.hide {
  display: none !important;
}
.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
  box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
  border-radius: 2px;
}

.bg-white {
  background: white;
}

/* global */
body {
  background-color: #f6f6f6;
}
main {
  display: flex;
}

.gkt-header-container,
.main-container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.post-list {
  line-height: 2.8em;
  border-left: 4px solid #f9f9f9;
}

@media (max-width: 767px) {
  .main-container {
      padding-top: 0px;
  }
}

@media (min-width: 768px) {
  .gkt-header-container,
  .main-container {
      width: 750px;
  }
  .post-container {
    padding: 10px 35px !important;
  }
  .post-container article {
    padding: 0 !important;
  }

  .post-list {
      margin-left: 30px;
  }
}

@media (min-width: 992px) {
  .gkt-header-container,
  .main-container {
      width: 990px;
  }
  .post-container {
    width: calc(100% - 320px);
  }
}
@media (min-width: 1200px) {
  .gkt-header-container,
  .main-container {
      width: 100%;
      max-width: 1150px;
  }
}

.post-list ul {
  padding-left: 0 !important;
}

.post-list li {
  list-style-type: none;
  position: relative;
  padding-left: 20px;
}

.post-list a {
  text-decoration: none;
}

.post-list li:before {
  position: absolute;
  top: 50%;
  left: -2px;
  width: 10px;
  height: 10px;
  margin-top: -9px;
  margin-left: -5px;
  content: ' ';
  border-radius: 50%;
  background-color: #ddd;
}

.post-list .post-item-parent {
  margin-top: 20px;
}

.post-list .post-item-parent a {
  margin-top: -60px;
  padding-top: 80px
}

.post-list a {
  color: #000000;
}

.post-item-color-0:before {
  background: #1abc9c !important;
}

.post-item-color-1:before {
  background: #3498db !important;
}

.post-item-color-2:before {
  background: #9b59b6 !important;
}

.post-item-color-3:before {
  background: #e67e22 !important;
}

.post-item-color-4:before {
  background: #e74c3c !important;
}

.post-list .post-text-parent {
  font-size: 20px;
  font-weight: bold;
  font-weight: bold;
  color: #222;
}

.post-list .post-item-title {
  font-size: 16px;
  transition-duration: .5s;
  color: #333;
  vertical-align: middle;
  overflow: hidden;
}

.post-list .post-item-title:hover {
  color: #337ab7;
}

.post-list .post-item-date {
  margin-left: 2px;
  color: hsla(0, 0%, 71%, .9);
  font-size: .85em;
}

.post-preview {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: max-content;
}

.post-preview .text-gray {
  color: #999999 !important;
}

.post-preview .post-info {
  flex: 1;
  padding-left: 20px;
}

.post-preview .post-img {
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.post-preview .post-info-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-preview .post-info a {
  cursor: pointer;
  text-decoration: none;
}

.post-preview .post-info .title {
  color: #101010;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .post-preview .post-img {
      width: 120px;
  }

  .post-preview .post-info {
      padding-right: 30px;
  }
}

/* *************
 *   Header    *
 ***************/
.gkt-header {
    background-color: #3e474f;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.gkt-header>div {
    height: 44px;
    padding: 0;
    line-height: 44px;
}

.gkt-header img {
    padding: 8px;
    width: 44px;
    margin-right: 6px;
}

.gkt-header-title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.gkt-header-nav li {
    margin-bottom: 0;
}

.gkt-header-nav>ul>li {
    display: inline-block;
}

.gkt-header-nav ul {
    list-style: none;
}

.gkt-header-nav a {
    padding: 0 5px;
    font-size: 18px;
    color: #b2bbbd;
    fill: #b2bbbd;
}

.gkt-cate-name>a {
    padding: 0 10px;
}

.gkt-header a:hover,
.gkt-cate-name.active>a {
    color: #ffffff;
}

.gkt-sub-cate {
    display: none;
    position: absolute;
    margin-top: 44px;
    background: #fafafa;
    min-width: 200px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .175);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .15);
}

.gkt-sub-cate-name>a {
    color: #333;
    padding: 8px 15px;
    width: 100%;
}

.gkt-sub-cate-name a:hover,
.gkt-sub-cate-name.active>a {
    display: block;
    color: #ffffff;
    background-color: rgba(62, 71, 79, .8)
}

.gkt-sub-cate-name.active>a {
    background-color: #3e474f;
}

.gkt-sub-cate-name {
    line-height: 30px;
}

/* start sidebar */
.gkt-sidebar {
  background-color: transparent;
}

.gkt-sidebar,
.gkt-sidebar>div {
  width: 320px;
}

.gkt-sidebar section {
  margin-left: 15px;
  background: white;
  overflow: auto;
  margin-bottom: 8px;
  padding: 8px 10px;
  max-height: 380px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.gkt-sidebar section::-webkit-scrollbar {
  width: 0 !important;
}

.gkt-sidebar ul {
  line-height: 1.35;
}

.gkt-sidebar a {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}

.gkt-sidebar-active {
  color: #337ab7 !important;
  font-weight: bold;
}

.gkt-sidebar-fixed {
  position: fixed;
  top: -70px;
  margin-top: 0;
  z-index: 1;
}
/* end sidebar */

/* post container */
.post-container {
  overflow: hidden;
  max-width: 830px;
  background: white;
}

.post-container .post-item-date {
  margin-left: 10px;
  color: hsla(0, 0%, 71%, .9);
  font-size: 0.85em;
}

.post-container .series_links {
  border: 1px solid #eaecef;
  padding: 15px;
  background-color: #fff8dc;
  margin-bottom: 20px;
  border-radius: 5px;
}

.u-arrow-wrapper {
  position: fixed;
  width: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.u-arrow-wrapper a:hover i {
  border-color: #333;
}

.u-arrow-wrapper i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 3px solid #eee;
  border-right: 3px solid #eee;
  cursor: pointer;
}

.u-arrow-wrapper a {
  height: 100vh;
  line-height: 100vh;
  width: 50px;
  padding-left: 15px;
}

.u-arrow-left {
  transform: rotate(-135deg);
}

.u-arrow-right {
  transform: rotate(45deg);
}
/* post container */

/* gitalk-related */
#gitalk-related.dis-wrapper {
  font-size: 14px;
  margin: 70px 0;
  overflow: hidden;
  padding-bottom: 10px;
}

#gitalk-related * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transform: none;
  -webkit-transform: none;
}

#gitalk-related .dis-divide {
  border-top: 2px solid #e7e9ee;
  width: 100%;
  float: left;
  padding: 5px 10px;
  margin-top: 20px;
  text-align: center;
}

#gitalk-related .dis-item {
  width: 50%;
  float: left;
  padding: 0px 10px;
  margin-top: 20px;
  height: 108px;
  overflow: hidden;
}

#gitalk-related .dis-item-title {
  font-size: 16px;
  color: #6190e8;
  font-weight: 500;
  max-height: 3em;
  line-height: 1.5;
  overflow: hidden;
}

#gitalk-related .dis-item-des {
  font-size: 0.85em;
}

#gitalk-related .dis-divide a,
#gitalk-related .dis-item-des,
#gitalk-related .dis-item-user {
  color: rgba(30, 55, 70, .4);
}

#gitalk-related .dis-item-img {
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

#gitalk-related .dis-item-content {
  display: flex;
}

#gitalk-related .dis-item-content>p {
  padding-left: 10px;
  color: #333;
  line-height: 1.4em;
  max-height: 4.2em;
  overflow: hidden;
}
/* gitalk-related*/

/* highlight issue  */
.markdown-it .highlight table tr {
  background-color: transparent;;
  border-top: none;
}