@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.markdown-it {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.8;
  color: rgba(0,0,0,0.9);
  font-family: Arial,'Hiragino Sans GB',冬青黑,'Microsoft YaHei',微软雅黑,SimSun,宋体,Helvetica,Tahoma,'Arial sans-serif';
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .markdown-it {
    font-size: 14px;
  }
}

.markdown-it * {
  box-sizing: border-box;
}

.markdown-it::before {
  display: table;
  content: "";
}

.markdown-it::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-it>*:first-child {
  margin-top: 0 !important;
}

.markdown-it>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-it [type="checkbox"],
.markdown-it dl {
  padding: 0;
}

.markdown-it p,
.markdown-it blockquote,
.markdown-it ul,
.markdown-it ol,
.markdown-it dl,
.markdown-it table,
.markdown-it pre,
.markdown-it details {
  margin-top: 0;
  margin-bottom: 5px;
}

.markdown-it code,
.markdown-it kbd,
.markdown-it pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-it a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.markdown-it summary {
  cursor: pointer;
  font-weight: bold;
}

.markdown-it a:active,
.markdown-it a:hover,
.markdown-it a:focus,
.markdown-it summary:active,
.markdown-it summary:hover,
.markdown-it summary:focus {
  outline-width: 0;
}

.markdown-it details {
  padding: 5px 10px;
  border: 1px solid #e3e3e3;
  border-bottom-color: #e0e0e0;
  border-right-color: #ececec;
  background-color: #f0f8ff;
  box-shadow: 1px 2px 1px rgba(0,0,0,.072);
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.072);
}

.markdown-it details p {
  margin-bottom: 0;
}

.markdown-it a:hover {
  text-decoration: none;
  color: #337ab7;
}

.markdown-it a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-it blockquote {
  margin: 1em 0;
  padding: 0.5em 1em;
  color: #666666;
  border-left: .25em solid #337ab7;
  background-color: #f0f8ff;
  overflow: auto;
}

.markdown-it blockquote>:first-child {
  margin-top: 0;
}

.markdown-it blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-it code {
  padding: 0.2em 0;
  margin: 0;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #24292e;
}

.markdown-it code::before,
.markdown-it code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-it dd {
  margin-left: 0;
}

.markdown-it dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-it dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-it h1,
.markdown-it h2,
.markdown-it h3,
.markdown-it h4,
.markdown-it h5,
.markdown-it h6 {
  margin-top: -55px;
  margin-bottom: 5px;
  font-weight: 600;
  padding-top: 60px;
}

.markdown-it h1 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: 300;
  border-bottom: 1px solid #eaecef;
}

.markdown-it h2 {
  font-size: 1.5em;
}

.markdown-it h3 {
  font-size: 1.25em;
}

.markdown-it h4 {
  font-size: 1em;
}

.markdown-it h5 {
  font-size: 0.875em;
}

.markdown-it h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdown-it hr {
  padding: 0;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  width: 100%;
}

.markdown-it hr::before {
  display: table;
  content: "";
}

.markdown-it hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-it img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
  margin-left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.markdown-it input {
  line-height: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
}

.markdown-it kbd {
  line-height: 10px;
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.markdown-it pre {
  word-wrap: normal;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  padding: 16px;
  overflow: auto;
  line-height: 1.2;
  background-color: #f6f8fa;
  border-radius: 3px;
  margin-top: 10px;
}

.markdown-it pre code {
  padding: 0;
  margin: 0;
  font-size: 0.85em;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
  display: inline;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
}

.markdown-it pre code::before,
.markdown-it pre code::after {
  content: normal;
}

.markdown-it strong {
  font-weight: 600;
}
.markdown-it svg:not(:root) {
  overflow: hidden;
}

.markdown-it table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-it table thead th {
  background-color: #f6f8fa;
}

.markdown-it table th {
  font-weight: 600;
}

.markdown-it table th,
.markdown-it table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-it table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-it table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-it ul,
.markdown-it ol {
  padding-left: 1em;
}

.markdown-it ol ol,
.markdown-it ul ol {
  list-style-type: lower-roman;
}

.markdown-it ul ul ol,
.markdown-it ul ol ol,
.markdown-it ol ul ol,
.markdown-it ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-it ul ul,
.markdown-it ul ol,
.markdown-it ol ol,
.markdown-it ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-it li>p {
  margin-top: 16px;
}