.markdown-it {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.8;
  color: rgba(0,0,0,0.9);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .markdown-it {
    font-size: 14px;
  }
}

.markdown-it * {
  box-sizing: border-box;
}

.markdown-it::before {
  display: table;
  content: "";
}

.markdown-it::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-it>*:first-child {
  margin-top: 0 !important;
}

.markdown-it>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-it [type="checkbox"],
.markdown-it dl {
  padding: 0;
}

.markdown-it p,
.markdown-it blockquote,
.markdown-it ul,
.markdown-it ol,
.markdown-it dl,
.markdown-it table,
.markdown-it pre,
.markdown-it details {
  margin-top: 0;
  margin-bottom: 5px;
}

.markdown-it article p,
.markdown-it article blockquote,
.markdown-it article ul,
.markdown-it article ol,
.markdown-it article dl,
.markdown-it article table,
.markdown-it article pre,
.markdown-it article details {
  margin-top: 10px;
  margin-bottom: 10px;
}

.markdown-it code,
.markdown-it kbd,
.markdown-it pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-it a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.markdown-it summary {
  cursor: pointer;
  font-weight: bold;
}

.markdown-it a:active,
.markdown-it a:hover,
.markdown-it a:focus,
.markdown-it summary:active,
.markdown-it summary:hover,
.markdown-it summary:focus {
  outline-width: 0;
}

.markdown-it details {
  padding: 5px 10px;
  border: 1px solid #e3e3e3;
  border-bottom-color: #e0e0e0;
  border-right-color: #ececec;
  background-color: #f0f8ff;
  box-shadow: 1px 2px 1px rgba(0,0,0,.072);
  -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.072);
}

.markdown-it details p {
  margin-bottom: 0;
}

.markdown-it a:hover {
  text-decoration: none;
  color: #337ab7;
}

.markdown-it a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-it blockquote {
  margin: 1em 0;
  padding: 0.5em 1em;
  color: #666666;
  border-left: .25em solid #337ab7;
  background-color: #f0f8ff;
  overflow: auto;
}

.markdown-it blockquote>:first-child {
  margin-top: 0;
}

.markdown-it blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-it code {
  padding: 0.2em 0;
  margin: 0;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #24292e;
}

.markdown-it code::before,
.markdown-it code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-it dd {
  margin-left: 0;
}

.markdown-it dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-it dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-it h1,
.markdown-it h2,
.markdown-it h3,
.markdown-it h4,
.markdown-it h5,
.markdown-it h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
}

.markdown-it article h1,
.markdown-it article h2,
.markdown-it article h3 {
  margin-top: -55px;
  padding-top: 60px;
}

.markdown-it h1 {
  margin-bottom: 20px;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.markdown-it h2 {
  font-size: 1.5em;
}

.markdown-it h3 {
  font-size: 1.25em;
}

.markdown-it h4 {
  font-size: 1em;
}

.markdown-it h5 {
  font-size: 0.875em;
}

.markdown-it h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdown-it hr {
  padding: 0;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  width: 100%;
}

.markdown-it hr::before {
  display: table;
  content: "";
}

.markdown-it hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-it img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
  margin-left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.markdown-it input {
  line-height: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
}

.markdown-it kbd {
  line-height: 10px;
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.markdown-it pre {
  word-wrap: normal;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  padding: 16px;
  overflow: auto;
  line-height: 1.2;
  background-color: #f6f8fa;
  border-radius: 3px;
  margin-top: 10px;
}

.markdown-it pre code {
  padding: 0;
  margin: 0;
  font-size: 0.85em;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
  display: inline;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
}

.markdown-it pre code::before,
.markdown-it pre code::after {
  content: normal;
}

.markdown-it strong {
  font-weight: 600;
}
.markdown-it svg:not(:root) {
  overflow: hidden;
}

.markdown-it table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-it table thead th {
  background-color: #f6f8fa;
}

.markdown-it table th {
  font-weight: 600;
}

.markdown-it table th,
.markdown-it table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-it table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-it table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-it ul,
.markdown-it ol {
  padding-left: 1.5em;
}

.markdown-it ul {
  list-style-type: square;
}

.markdown-it ol {
  list-style-type: circle;
}
