<!-- Footer -->
<style>
    footer {
        width: 100%;
        line-height: 1.5;
        padding: 20px;
    }

    footer small a {
        color: #333;
        text-decoration: none;
    }
</style>
<footer class="text-center">
    <p class="margin-tb-0">
        <small>© 2018 - 极客兔兔 - </small>
        <small>
            <a target="_blank" rel="nofollow noopener" href="http://www.miitbeian.gov.cn/">沪ICP备18001798号-1</a>
        </small>
    </p>
    <p><small>Powered by <a href="https://github.com/koajs/koa">Hexo</a> & <a
                href="https://github.com/facebook/react">Geektutu</a></small></p>
</footer>

<!-- jQuery -->
<%- js('js/jquery.min.js') %>

<!-- async load function -->
<script>
    function async(u, c) {
        var d = document, t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
        s.parentNode.insertBefore(o, s);
    }
</script>



<!-- Baidu Tongji -->
<% if (config.ba_track_id) { %>
<script>
    // dynamic User by Hux
    var _baId = '<%= config.ba_track_id %>';

    // Originial
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?" + _baId;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<% } %>