<!-- Footer -->
<style>
    footer {
        width: 100%;
        line-height: 1.5;
        padding: 20px;
    }

    footer a {
        color: #333;
        text-decoration: none;
    }
    .footer-hexo a {
        color: #108ee9;
    }
</style>
<footer class="text-center">
    <p class="margin-tb-0">
        <small>© <%- new Date().getFullYear() %> - 极客兔兔 - </small>
        <small>
            <a target="_blank" rel="nofollow noopener" href="http://www.miitbeian.gov.cn/">沪ICP备18001798号-1</a>
        </small>
    </p>
    <p class="footer-hexo"><small>Powered by <a target="_blank" href="https://hexo.io">Hexo</a> | Theme <a target="_blank" href="https://github.com/geektutu/hexo-theme-geektutu">Geektutu</a></small></p>
</footer>

<!-- Baidu Tongji -->
<% if (config.ba_track_id) { %>
<script>
    var _baId = '<%= config.ba_track_id %>';

    // Originial
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?" + _baId;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<% } %>