<!-- Table of Contents -->
<% if (is_post()){ %>
<style>
  /*toc*/
  #sidebar {
    float: left;
  }

  .toc-article {
    position: absolute;
    padding-left: 10px;
    margin-top: 25px;
    border-left: 1px solid #eaecef;
  }

  .toc-article li {
    list-style-type: square;
  }

  .toc-article a {
    display: block;
    color: #000;
    font-size: 14px;
  }

  .toc-title {
    font-size: 1.2em;
  }

  .toc-fixed {
    position: fixed;
    top: 60px;
    margin-top: 0;
    max-height: 81%;
    overflow: hidden;
    z-index: 1;
  }

  #toc .toc-active {
    color: #108ee9;
  }
</style>
<aside id="sidebar" class="hidden-sm">
  <div id="toc" class="toc-article">
    <span class="toc-title"><%= __('contents') %></span>
    <% if (toc(page.content) != ""){ %>
    <%- toc(page.content, { "class": "toc-nav", "list_number": false, "max_depth": 4 }) %>
    <% } else { %>
    <ol class="nav"><%= __('none') %></ol>
    <% } %>
  </div>
</aside>
<script>
  window.addEventListener('load', function () {
    var toc = document.getElementById('toc');
    var h2 = document.querySelectorAll('article h2');
    var h3 = document.querySelectorAll('article h3');
    var linkList = document.querySelectorAll('#toc a');

    function findLinkElement(name) {
      for (var i = 0; i < linkList.length; i++) {
        var items = linkList[i].href.split('#');
        if (items && items[items.length - 1] === encodeURIComponent(name)) {
          return i;
        }
      }
      return -1;
    }

    function activeLink(titleList) {
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      for (var i = titleList.length - 1; i >= 0; i--) {
        if (scrollTop - titleList[i].offsetTop > 0) {
          var index = findLinkElement(titleList[i].id);
          index != -1 && linkList[index].classList.add('toc-active');
          break;
        }
      }
    }

    var lastPos = 0;
    function fixTocPosition() {
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      var isDown = scrollTop > lastPos;
      scrollTop > 220 && toc.classList.add("toc-fixed");
      scrollTop <= 220 && toc.classList.remove("toc-fixed");
      lastPos = scrollTop;
    }

    if (toc != null) {

      window.addEventListener("scroll", function (e) {
        fixTocPosition();
        linkList.forEach(function (link) {
          link.classList.remove('toc-active');
        })
        activeLink(h2);
      })
    }
  });
</script>
<% } %>