<!-- Table of Contents -->
<style>
  /*toc*/
  .sidebar-wrapper li {
    list-style-type: square;
  }

  .sidebar-wrapper-tabs {
    padding-bottom: 10px;
    width: 240px;
  }

  .sidebar-wrapper-tabs li {
    display: inline-block;
    list-style-type: none;
  }

  .sidebar-wrapper a {
    display: block;
    color: #000;
    font-size: 14px;
  }

  .sidebar-active {
    color: #108ee9 !important;
  }

  .sidebar-title {
    margin: 5px;
    cursor: pointer;
  }

  .sidebar-title:hover {
    color: #108ee9;
  }

  .sidebar-title.active {
    color: #108ee9;
    border-bottom: 1px solid #108ee9;
  }
</style>
<% var categories = (page.categories || []).map(item => item) %>
<div>
  <ul class="text-center sidebar-wrapper-tabs">
    <% if (toc(page.content) != ""){ %>
    <li value="0" class="sidebar-title active">文章目录</li>
    <% } %>
    <% if (categories.length){ %>
    <li value="1" class="sidebar-title">专题合集</li>
    <% } %>
  </ul>

  <div id="sidebar-toc">
    <!-- TOC  -->
    <% if (toc(page.content) != ""){ %>
    <%- toc(page.content, { "class": "toc-nav", "list_number": false, "max_depth": 3 }) %>
    <% } %>
  </div>

  <!--  同专题文章 -->
  <div id="sidebar-series-list" style="display: none">
    <% if (categories.length){  var category = categories[0] %>
    <ol>
      <% category.posts.sort('date').map(function(post, index){ %>
      <li>
        <a href="<%= config.root %><%- post.path %>">
          <%= post.title.slice(Math.max(0, post.title.indexOf('('))) %>
        </a>
      </li>
      <% }) %>
    </ol>
    <% } %>
  </div>
</div>

<script>
  window.addEventListener('load', function () {
    var h2 = document.querySelectorAll('article h2');
    var h3 = document.querySelectorAll('article h3');
    var linkList = document.querySelectorAll('#sidebar-toc a');

    function findLinkElement(name) {
      for (var i = 0; i < linkList.length; i++) {
        var items = linkList[i].href.split('#');
        if (items && items[items.length - 1] === encodeURIComponent(name)) {
          return i;
        }
      }
      return -1;
    }

    function activeLink(titleList) {
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      for (var i = titleList.length - 1; i >= 0; i--) {
        if (scrollTop - titleList[i].offsetTop > 0) {
          var index = findLinkElement(titleList[i].id);
          index != -1 && linkList[index].classList.add('sidebar-active');
          break;
        }
      }
    }

    window.addEventListener("scroll", function (e) {
      linkList.forEach(function (link) {
        link.classList.remove('sidebar-active');
      })
      activeLink(h2);
    })

    // tab 切换
    var tabs = document.querySelectorAll('.sidebar-wrapper-tabs li');
    var toc = document.getElementById('sidebar-toc');
    var list = document.getElementById('sidebar-series-list');

    function activeTab(value) {
      if (tabs.length < 2) {
        return
      }
      value *= 1;
      [toc, list][value].style.display = 'inline-block';
      [list, toc][value].style.display = 'none';
      tabs[value].classList.add('active');
      tabs[(value + 1) % 2].classList.remove('active');
    }

    // add click event for each tabs
    tabs.forEach(function (tab) {
      tab.addEventListener('click', function (e) {
        window.localStorage.setItem('sidebar_tab_value', e.target.value)
        activeTab(e.target.value)
      });
    });

    (function (list) {
      list.querySelectorAll('a').forEach(function (item) {
        item.href.endsWith(window.location.pathname) && item.classList.add('sidebar-active');
      })
      activeTab(window.localStorage.getItem('sidebar_tab_value') || 0)
    })(list);
  });
</script>