/*************
 * post list *
 *************/
.post-list-link {
  margin-top: 10px;
  margin-bottom: 0;
}
.post-list-item {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
  padding: 20px 0 10px 0;
}

.post-list-item .post-list-item-title {
  font-size: 1.8em;
  margin: 0 0 10px;
  font-weight: 300;
  border-bottom: none;
}

.post-list-item .post-list-item-title a {
  text-decoration: none;
  color: rgba(0, 0, 0, .7);
  transition: color .3s;
}

.post-list-item .post-list-item-title a:hover {
  color: #108ee9;
}
.post-list-item .post-list-item-meta {
  margin-top: 10px;
}
.post-list-item .post-list-item-meta time {
  color: #333333;
  font-size: 0.85em;
}

/********
 * POST *
 ********/
.post-label {
  margin-right: 10px !important;
}

.nav-name a {
  color: white;
  font-size: 24px;
}

/************
 * archives *
 ************/
/************
 *  series  *
 ************/
/**********
 * post   *
 **********/
.post .post-created-time,
.series .post-created-time,
.archives .post-created-time {
  margin-left: 10px;
  color: rgba(180,180,180, 0.9);
  font-size: 0.85em;
}